.App {
    margin: 0 25px;
}

.array-container  {
   position: absolute;
   background-color: #173F5F;
   font-size: 8px;
}

.array-container span {
    position: absolute;
    bottom: 0;
    margin-left: 2px;
}

.array-bar {
    width: 15px;
    background-color: #20639B;
    display: inline-block;
    margin: 0 2px;
}

.array-bar-working {
    width: 15px;
    background-color: #ED553B;
    display: inline-block;
    margin: 0 2px;
    font-weight: bold;
}

.array-bar-swapping {
    width: 15px;
    background-color: #F6D55C;
    display: inline-block;
    margin: 0 2px;
    color: black;
    font-weight: bold;
}

.counter{
    font-size: 2em;
    font-weight: bold;
    margin: 0 4px 0 2px;
}

.array-index {
    margin-left: 15px;
}

.array-sizer {
    margin: 5px 55px;
}

.algo-explain {
    position: block;
    margin: 80px 30px 0 30px;
    
}

.foo {
    position: absolute;
}

.gist {
    width: 80%;
}

.block {
    display: block;
    min-height: 150px;
}

h1 {
    text-align: center;
}

body {
    margin-left: 20px;
}

a, a:visited {
    color: #F6D55C;
}

/* Better styles for embedding GitHub Gists */
.gist{font-size:13px;line-height:18px;width:53em}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#3b5998 !important;font-weight:bold;text-decoration:none}
.gist-meta a:hover{text-decoration:underline}
